doctype html
html
	head
		title= title
		meta(http-equiv="Content-Security-Policy", content="upgrade-insecure-requests")
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='https://cdn.bootcss.com/flv.js/1.5.0/flv.min.js')
	body
		block content
